extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Sanitación
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Editar Sanitación
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Edición del Sanitación
            form(class="form-horizontal" method="post" action="/web/sanitacion/#{sanitacion.idSanitacion}")
              div(class="box-body")
                input(type="hidden" name="_method" value="put")
                input(type="hidden" name="idSanitacion" value='#{sanitacion.idSanitacion}')
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="fechaSanitacion") Fecha de la Sanitación:
                  div(class="col-sm-8")  
                    div(class="input-group date")
                      div(class="input-group-addon")
                        i(class="fa fa-calendar")  
                      input(type="text" class="form-control pull-right" id="datepicker" name='fechaSanitacion' value='#{sanitacion.fechaSanitacion}' required="true")
                div(class="form-group")  
                  label(class="col-sm-4 control-label" for="horaSanitacion") Hora de la Sanitación:
                  div(class="col-sm-8")
                    div(class="bootstrap-timepicker")
                      div(class="input-group")
                        div(class="input-group-addon")
                          i(class="fa fa-clock-o")
                        input(type="text" class="form-control timepicker" name='horaSanitacion' value='#{sanitacion.horaSanitacion}' required) 
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Observación: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id='observacion' name='observacion' value='#{sanitacion.observacion}' required="true")

                div(class="form-group")
                  label(class="control-label col-sm-4" for="email") Empleado: 
                  div(class="col-sm-8") 
                    select(name="empleadoSele" class="btn btn-default select2")
                      -for (var j=0; j < selectJ.length; j++) {
                        if sanitacion.EmpleadoIdEmpleado == selectJ[j].idEmpleado 
                         option(value="#{selectJ[j].idEmpleado}" selected) #{selectJ[j].nombreEmpleado} 
                        else 
                         option(value="#{selectJ[j].idEmpleado}") #{selectJ[j].nombreEmpleado}
                      -}
                div(class="form-group")
                  label(class="control-label col-sm-4" for="email") Proveedor: 
                  div(class="col-sm-8") 
                    select(name="proveedorSele" class="btn btn-default select2")
                      -for (var j=0; j < select.length; j++) {
                        if sanitacion.ProveedorIdProveedor == select[j].idProveedor
                         option(value="#{select[j].idProveedor}" selected) #{select[j].nombreProveedor} 
                        else 
                         option(value="#{select[j].idProveedor}") #{select[j].nombreProveedor}
                      -} 
                      
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Editar Sanitación
                    i(class="fa fa-save") 
                  a(href="/web/sanitacion" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")
