extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Sanitación de Animales
        small
          b 
            a(href="/web/sanitacion/cargar")
              p(class="text-green" data-placement="top" data-toggle="tooltip" title="Agregar Sanitación") Agregar Sanitación
                  i(class="fa fa-save") 
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Tabla de Sanitación de Animales Registrados
    section(class="content")
      div(class="row")
        div(class="col-xs-12")
          div(class="box")
            div(class="box-header")
              h3(class="box-title") Tabla de Sanitación de Animales Registrados
              <!-- /.box-header -->
            div(class="box-body")
              div(class="table-responsive")
                table(id="example1" class="table table-bordered table-striped")
                  thead
                    tr(class="success")
                      th(class="cell-stat text-center") Fecha de la Sanitación
                      th(class="cell-stat text-center") Hora de la Sanitación          
                      th(class="cell-stat text-center") Empleado
                      th(class="cell-stat text-center") Proveedor
                      th(class="cell-stat text-center") Agregar Detalle
                      th(class="cell-stat text-center") Ver Detalle
                      th(class="cell-stat text-center") Editar Registro
                      th(class="cell-stat text-center") Eliminar Registro
                  
                  tbody
                    for sanitaciones in sanitacion
                      tr
                        td(class="text-center")=sanitaciones.fechaSanitacion
                        td(class="text-center")=sanitaciones.horaSanitacion        
                        if sanitaciones.Empleado == null  
                          td(class="text-center") Sin Empleado
                        else 
                          td(class="text-center")=sanitaciones.Empleado.nombreEmpleado 
                        if sanitaciones.Proveedor == null  
                          td(class="text-center") Sin Proveedor
                        else 
                          td(class="text-center")=sanitaciones.Proveedor.nombreProveedor         
                        td(class="text-center")
                          a(href="/web/detalleSanitacion/add/#{sanitaciones.idSanitacion}" class="btn btn-success" role="button")
                            p(data-placement="top" data-toggle="tooltip" title="Agregar Detalle Sanitación")
                              button(type="button" class="btn btn-success")
                                i(class="fa fa-plus")     
                        td(class="text-center")
                          a(href="/web/detalleSanitacion/animal/#{sanitaciones.idSanitacion}" class="btn btn-success" role="button")
                            p(data-placement="top" data-toggle="tooltip" title="Ver Detalle")
                              button(type="button" class="btn btn-success") 
                                i(class="fa fa-eye")
                        td(class="text-center")
                          a(href="/web/sanitacion/#{sanitaciones.idSanitacion}" class="btn btn-success" role="button")
                            p(data-placement="top" data-toggle="tooltip" title="Editar Sanitación")
                              button(type="button" class="btn btn-success")  
                                i(class="fa fa-refresh")

                        form(id="topicForm" method="post" action="/web/sanitacion/#{sanitaciones.idSanitacion}")
                          input(type="hidden" name="_method" value="delete")
                          input(type="hidden" name="idSanitacion" value='#{sanitaciones.idSanitacion}')               
                          td(class="text-center")
                            a(href="/web/sanitacion/#{sanitaciones.idSanitacion}" class="btn btn-success" role="button")
                              p(data-placement="top" data-toggle="tooltip" title="Borrar Sanitación")
                                button(type="submit" name="committ" value="Form" class="btn btn-success") 
                                  i(class="fa fa-remove")