extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Traslado de Animales
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Agregar Traslado 
    section(class="content")
      div(class="row")  
        div(class="col-md-12") 
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Traslado de Animales   
            form(class="form-horizontal" action='/web/traslado/add' method="POST")
              div(class="box-body")
                div(class="form-group")
                    label(class="col-sm-4 control-label" for="fechaTraslado") Fecha del Traslado:
                    div(class="col-sm-8")  
                      div(class="input-group date")
                        div(class="input-group-addon")
                          i(class="fa fa-calendar")  
                        input(type="text"  class="form-control pull-right" id="datepicker" name='fechaTraslado' required)

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Nº de Compra: 
                  div(class="col-sm-8")  
                    select(name='selectN' class="btn btn-default select2" required)
                      option(value="-1"  disabled="disabled" selected) Seleccione una opción
                      -for(var j=0; j < selectN.length; j++) {
                        option(value="#{selectN[j].idCompra}") #{selectN[j].numeroCompra}
                      -} 
                      
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="numeroRUA") Número de RUA: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="numeroRUA" name='numeroRUA' placeholder="Ingrese el Número de RUA" required)

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="marcaAuto") Marca del Auto: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="marcaAuto" name='marcaAuto' placeholder="Ingrese la Marca del Auto" required)
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Ciudad: 
                  div(class="col-sm-8")
                      select(name='selectJ' class="btn btn-default select2" required)
                        option(value="-1" disabled="disabled" selected) Seleccione una opción
                        -for(var j=0; j < selectJ.length; j++) {
                          option(value="#{selectJ[j].idCiudad}") #{selectJ[j].ciudad}
                        -}
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Empleado: 
                  div(class="col-sm-8")    
                      select(name='selectk' class="btn btn-default select2" required)
                        option(value="-1" disabled="disabled" selected) Seleccione una opción
                        -for(var j=0; j < selectk.length; j++) {
                          option(value="#{selectk[j].idEmpleado}") #{selectk[j].nombreEmpleado}
                        -} 
                
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Guardar
                    i(class="fa fa-save") 
                  a(href="/web/traslado" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")