extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Alarmas
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Tabla de Alarmas Registradas
    section(class="content")
      div(class="row")
        div(class="col-xs-12")
          div(class="box")
            div(class="box-header")
              h3(class="box-title") Tabla de Alarmas Registradas
              <!-- /.box-header -->
            div(class="box-body")
              div(class="table-responsive")
                table(id="example1" class="table table-bordered table-striped")
                  thead
                    tr(class="success")
                      th(class="text-center") Nombre  
                      th(class="text-center") Alarmas
                      th(class="text-center") Eliminar Registro
                  
                  tbody
                    for alarma in alarmas2
                      tr
                        td(class="text-center")=alarma.nombre
                        td(class="text-center")=alarma.alarma 
                        form(id="topicForm" method="post" action="/web/alarma/#{alarma.idAlarma}")
                          input(type="hidden" name="_method" value="delete")
                          input(type="hidden" name="idAlarma" value='#{alarma.idAlarma}')               
                          td(class="text-center")
                            a(href="/web/alarma/#{alarma.idAlarma}" class="btn btn-success" role="button")
                              p(data-placement="top" data-toggle="tooltip" title="Borrar Alarma")
                                button(type="submit" name="committ" value="Form" class="btn btn-success")
                                  i(class="fa fa-remove")