table(class="table table-bordred table-striped")
  thead
    tr
      th(class="cell-stat text-center") idCompra
      th(class="cell-stat text-center") fechaCompra
      th(class="cell-stat text-center") horaCompra 
      th(class="cell-stat text-center") condicionCompra
      th(class="cell-stat text-center") formaPago 
      th(class="cell-stat text-center") numeroCompra         
      th(class="cell-stat text-center") idProveedor
      th(class="cell-stat text-center") nombreProveedor
      th(class="cell-stat text-center") fechaCreacion
      th(class="cell-stat text-center") fechaModificacion
      th(class="cell-stat text-center") fechaBorrado
      th(class="cell-stat text-center") Accion
      th(class="cell-stat text-center") Accion
  
  tbody
    for facturaCompras in facturaCompra
      tr
        td(class="text-center")=facturaCompras.idCompra
        td(class="text-center")=facturaCompras.fechaCompra
        td(class="text-center")=facturaCompras.horaCompra  
        td(class="text-center")=facturaCompras.condicionCompra
        td(class="text-center")=facturaCompras.formaPago
        td(class="text-center")=facturaCompras.numeroCompra        
        td(class="text-center")=facturaCompras.ProveedorIdProveedor
        if facturaCompras.Proveedor == null  
          td(class="text-center") sin Proveedor
        else 
          td(class="text-center")=facturaCompras.Proveedor.nombreProveedor         
        td(class="text-center")=facturaCompras.fechaCreacion 
        td(class="text-center")=facturaCompras.fechaModificacion
        td(class="text-center")=facturaCompras.fechaBorrado 
        td
          a(href="/web/detalleCompra/add/#{facturaCompras.idCompra}" class="btn btn-info" role="button")
            p(data-placement="top" data-toggle="tooltip" title="Add")
              button(type="button" class="btn btn-info") Agregar Detalle Compra Insumo
        td
          a(href="/web/detalleCompra/adds/#{facturaCompras.idCompra}" class="btn btn-info" role="button")
            p(data-placement="top" data-toggle="tooltip" title="Add")
              button(type="button" class="btn btn-info") Agregar Detalle Compra Animal
        td
          a(href="/web/detalleCompra/#{facturaCompras.idCompra}" class="btn btn-info" role="button")
            p(data-placement="top" data-toggle="tooltip" title="Edit")
              button(type="button" class="btn btn-info") Ver Detalle
        td
          a(href="/web/facturaCompra/#{facturaCompras.idCompra}" class="btn btn-info" role="button")
            p(data-placement="top" data-toggle="tooltip" title="Edit")
              button(type="button" class="btn btn-info") Editar Factura Compra 
              
        form(id="topicForm" method="post" action="/web/facturaCompra/#{facturaCompras.idCompra}")
          input(type="hidden" name="_method" value="delete")
          input(type="hidden" name="idCompra" value='#{facturaCompras.idCompra}')               
          td
            a(href="/web/facturaCompra/#{facturaCompras.idCompra}" class="btn btn-info" role="button")
              p(data-placement="top" data-toggle="tooltip" title="Delete")
                button(type="submit" name="committ" value="Form" class="btn btn-info") Borrar Factura Compra


a(href="/web/facturaCompra/cargar" class="btn btn-info" role="button")
  p(data-placement="top" data-toggle="tooltip" title="Add")
    button(type="button" class="btn btn-info") Agregar Factura Compra


          
