form(id="topicForm" method="post" action="/web/detalleVacunacionInsumo/#{detalleVacunacionInsumo.idDetalleVacunacionInsumo}")
  input(type="hidden" name="_method" value="put")
  input(type="hidden" name="idDetalleVacunacionInsumo" value='#{detalleVacunacionInsumo.idDetalleVacunacionInsumo}')
  table(class="table table-bordred table-striped")
    thead
      tr
        th(class="cell-stat text-center") cantidadInsumo
        th(class="cell-stat text-center") nombreInsumo
        th(class="cell-stat text-center") fechaCreacion
        th(class="cell-stat text-center") fechaModificacion
        th(class="cell-stat text-center") fechaBorrado
        th(class="cell-stat text-center") Accion
        th(class="cell-stat text-center") Accion  
    tbody
      tr
        td(class="text-center")
          input(type="text" class="form-control" id='cantidadInsumo' name='cantidadInsumo' value='#{detalleVacunacionInsumo.cantidadInsumo}' required="true")
        td(class="text-center") 
          select(name="insumoSele")
            -for (var j=0; j < select.length; j++) {
              if detalleVacunacionInsumo.InsumoIdInsumo == select[j].idInsumo 
               option(value="#{select[j].idInsumo}" selected) #{select[j].nombreInsumo} 
              else 
               option(value="#{select[j].idInsumo}") #{select[j].nombreInsumo}
            -}	       
        td(class="text-center")=detalleVacunacionInsumo.fechaCreacion
        td(class="text-center")=detalleVacunacionInsumo.fechaModificacion
        td(class="text-center")=detalleVacunacionInsumo.fechaBorrado
        td
  button(type="submit" name="commit" value="Form" class="btn btn-success btn-block") Editar Detalle Vacunacion Insumo
