extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Detalle de la Vacunaci贸n(Insumos)
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Editar Detalle de la Vacunaci贸n
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Edici贸n del Detalle de la Vacunaci贸n
            form(class="form-horizontal" method="post" action="/web/detalleVacunacionInsumo/#{detalleVacunacionInsumo.idDetalleVacunacionInsumo}")
              div(class="box-body")
                input(type="hidden" name="_method" value="put")
                input(type="hidden" name="idDetalleVacunacionInsumo" value='#{detalleVacunacionInsumo.idDetalleVacunacionInsumo}')
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Nombre del Insumo: 
                  div(class="col-sm-8")
                    select(name="insumoSele" class="btn btn-default select2")
                      -for (var j=0; j < select.length; j++) {
                        if detalleVacunacionInsumo.InsumoIdInsumo == select[j].idInsumo 
                         option(value="#{select[j].idInsumo}" selected) #{select[j].nombreInsumo} 
                        else 
                         option(value="#{select[j].idInsumo}") #{select[j].nombreInsumo}
                      -} 
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Cantidad: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id='cantidadInsumo' name='cantidadInsumo' value='#{detalleVacunacionInsumo.cantidadInsumo}' required="true") 
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Editar
                    i(class="fa fa-refresh")
                  a(href="/web/vacunacion" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")