extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Personal
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Personal
        li(class="active") Editar Personal
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Edición del Personal
            form(class="form-horizontal" method="post" action="/web/empleado/#{empleado.idEmpleado}")
              div(class="box-body")
                input(type="hidden" name="_method" value="put")
                input(type="hidden" name="idEmpleado" value='#{empleado.idEmpleado}')
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Cédula: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="cedulaEmpleado" name='cedulaEmpleado' value='#{empleado.cedulaEmpleado}' required="true")                
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Nombre: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id='nombreEmpleado' name='nombreEmpleado' value='#{empleado.nombreEmpleado}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Código de la Llave: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id='codigoLlave' name='codigoLlave' value='#{empleado.codigoLlave}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Dirección: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="direccionEmpleado" name='direccionEmpleado' value='#{empleado.direccionEmpleado}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Ciudad: 
                  div(class="col-sm-8")
                    select(name="ciudadSele" class="btn btn-success select2")
                      -for (var j=0; j < select.length; j++) {
                        if empleado.CiudadIdCiudad == select[j].idCiudad 
                         option(value="#{select[j].idCiudad}" selected) #{select[j].ciudad} 
                        else 
                         option(value="#{select[j].idCiudad}") #{select[j].ciudad}
                      -}
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Editar Personal 
                    i(class="fa fa-refresh")
                  a(href="/web/empleado" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")