form(id="topicForm" method="post" action="/web/empleado/#{empleado.idEmpleado}")
  input(type="hidden" name="_method" value="put")
  input(type="hidden" name="idEmpleado" value='#{empleado.idEmpleado}')
  table(class="table table-bordred table-striped")
    thead
      tr
        th(class="cell-stat text-center") idEmpleado
        th(class="cell-stat text-center") nombreEmpleado 
        th(class="cell-stat text-center") codigoLlave 
        th(class="cell-stat text-center") direccionEmpleado
        th(class="cell-stat text-center") cedulaEmpleado
        th(class="cell-stat text-center") estadoEmpleado
        th(class="cell-stat text-center") idCiudad
        th(class="cell-stat text-center") ciudad
        th(class="cell-stat text-center") fechaCreacion
        th(class="cell-stat text-center") fechaModificacion
        th(class="cell-stat text-center") fechaBorrado
        th(class="cell-stat text-center") Accion
        th(class="cell-stat text-center") Accion
    tbody
        tr
          td(class="text-center")=empleado.idEmpleado
          
          td(class="text-center")
            input(type="text" class="form-control" id='nombreEmpleado' name='nombreEmpleado' value='#{empleado.nombreEmpleado}' required="true")

          td(class="text-center")
            input(type="text" class="form-control" id='codigoLlave' name='codigoLlave' value='#{empleado.codigoLlave}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id="direccionEmpleado" name='direccionEmpleado' value='#{empleado.direccionEmpleado}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id="cedulaEmpleado" name='cedulaEmpleado' value='#{empleado.cedulaEmpleado}' required="true")

          td(class="text-center")
            input(type="text" class="form-control" id='estadoEmpleado' name='estadoEmpleado' value='#{empleado.estadoEmpleado}' required="true")

          td(class="text-center")
            select(name="ciudadSele")
              -for (var j=0; j < select.length; j++) {
                if empleado.CiudadIdCiudad == select[j].idCiudad 
                 option(value="#{select[j].idCiudad}" selected) #{select[j].ciudad} 
                else 
                 option(value="#{select[j].idCiudad}") #{select[j].ciudad}
              -}
          
          td(class="text-center")=empleado.fechaCreacion
          td(class="text-center")=empleado.fechaModificacion
          td(class="text-center")=empleado.fechaBorrado
          td
            button(type="submit" name="commit" value="Form" class="btn btn-success btn-block") Editar Empleado 
