extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Ingreso del Empleado
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Editar Ingreso del Empleado
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Edición del Ingreso del Empleado
            form(class="form-horizontal" method="post" action="/web/ingresoCorral/#{ingresoCorral.idIngresoCorral}")
              div(class="box-body")
                input(type="hidden" name="_method" value="put")
                input(type="hidden" name="idIngresoCorral" value='#{ingresoCorral.idIngresoCorral}')

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="cuernos") Fecha de Ingreso
                  div(class="col-sm-8")  
                    div(class="input-group date")
                      div(class="input-group-addon")
                        i(class="fa fa-calendar")  
                      input(type="text" class="form-control pull-right" id="datepicker" name='fechaIngreso' value='#{ingresoCorral.fechaIngreso}' required="true")

                div(class="form-group")  
                  label(class="col-sm-4 control-label" for="horaIngreso") Hora de Ingreso
                  div(class="col-sm-8")
                    div(class="bootstrap-timepicker")
                      div(class="input-group")
                        div(class="input-group-addon")
                          i(class="fa fa-clock-o")
                        input(type="text" class="form-control timepicker" name='horaIngreso' value='#{ingresoCorral.horaIngreso}' required)
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Empleado Encargado 
                  div(class="col-sm-8")
                    select(name="empleadoSele" class="btn btn-default select2")
                      -for (var j=0; j < select.length; j++) {
                        if ingresoCorral.EmpleadoIdEmpleado == select[j].idEmpleado 
                         option(value="#{select[j].idEmpleado}" selected) #{select[j].nombreEmpleado} 
                        else 
                         option(value="#{select[j].idEmpleado}") #{select[j].nombreEmpleado}
                      -}

                div(class="form-group")  
                  label(class="col-sm-4 control-label" for="horaEntrada") Observación
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id='observacionIngreso' name='observacionIngreso' value='#{ingresoCorral.observacionIngreso}' required="true")
                
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Editar  
                    i(class="fa fa-refresh")
                  a(href="/web/ingresoCorral" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")                    