form(id="topicForm" method="post" action="/web/consumo/#{consumo.idConsumo}")
  input(type="hidden" name="_method" value="put")
  input(type="hidden" name="idConsumo" value='#{consumo.idConsumo}')
  table(class="table table-bordred table-striped")
    thead
      tr
        th(class="cell-stat text-center") idConsumo
        th(class="cell-stat text-center") fechaConsumo
        th(class="cell-stat text-center") horaConsumo
        th(class="cell-stat text-center") fechaCreacion
        th(class="cell-stat text-center") fechaModificacion
        th(class="cell-stat text-center") fechaBorrado
        th(class="cell-stat text-center") Accion
        th(class="cell-stat text-center") Accion
    tbody
        tr
          td(class="text-center")=consumo.idConsumo
          
          td(class="text-center")
            //label(for="fechaConsumo" class="control-label") Fecha Pesaje
            input(type="text" class="form-control" id='fechaConsumo' name='fechaConsumo' value='#{consumo.fechaConsumo}' required="true")
          
          td(class="text-center")
            //label(for="horaConsumo" class="control-label") Hora Pesaje
            input(type="text" class="form-control" id="horaConsumo" name='horaConsumo' value='#{consumo.horaConsumo}' required="true")

          td(class="text-center")=consumo.fechaCreacion
          td(class="text-center")=consumo.fechaModificacion
          td(class="text-center")=consumo.fechaBorrado
          td
            button(type="submit" name="commit" value="Form" class="btn btn-success btn-block") Editar Consumo