form(id="topicForm" method="post" action="/web/animal/#{animal.idAnimal}")
  input(type="hidden" name="_method" value="put")
  input(type="hidden" name="idAnimal" value='#{animal.idAnimal}')
  table(class="table table-bordred table-striped")
    thead
      tr
        th(class="cell-stat text-center") idAnimal
        th(class="cell-stat text-center") raza
        th(class="cell-stat text-center") pesoInicial
        th(class="cell-stat text-center") rpAnimal
        th(class="cell-stat text-center") cuernos
        th(class="cell-stat text-center") sexoAnimal
        th(class="cell-stat text-center") estado
        th(class="cell-stat text-center") numeroTag
        th(class="cell-stat text-center") fechaIngreso
        th(class="cell-stat text-center") fechaCreacion
        th(class="cell-stat text-center") fechaModificacion
        th(class="cell-stat text-center") fechaBorrado
        th(class="cell-stat text-center") Accion
        th(class="cell-stat text-center") Accion
    tbody
        tr
          td(class="text-center")=animal.idAnimal

          td(class="text-center")
            select(name="razaSele")
              -for (var j=0; j < select.length; j++) {
                if animal.RazaIdRaza == select[j].idRaza 
                 option(value="#{select[j].idRaza}" selected) #{select[j].raza} 
                else 
                 option(value="#{select[j].idRaza}") #{select[j].raza}
              -}
          
          td(class="text-center")
            input(type="text" class="form-control" id="pesoInicial" name='pesoInicial' value='#{animal.pesoInicial}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id="rpAnimal" name='rpAnimal' value='#{animal.rpAnimal}' required="true")

          td(class="text-center")
            input(type="text" class="form-control" id='cuernos' name='cuernos' value='#{animal.cuernos}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id="sexoAnimal" name='sexoAnimal' value='#{animal.sexoAnimal}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id="estado" name='estado' value='#{animal.estado}' required="true")

          td(class="text-center")
            input(type="text" class="form-control" id="numeroTag" name='numeroTag' value='#{animal.numeroTag}' required="true")

          td(class="text-center")
            input(type="text" class="form-control" id="fechaIngreso" name='fechaIngreso' value='#{animal.fechaIngreso}' required="true")
        
          td(class="text-center")=animal.fechaCreacion
          td(class="text-center")=animal.fechaModificacion
          td(class="text-center")=animal.fechaBorrado
          td
            button(type="submit" name="commit" value="Form" class="btn btn-success btn-block") Editar Animal 
