extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Vacunación
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Editar Vacunación
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Edición de la Vacunación
            form(class="form-horizontal" method="post" action="/web/vacunacion/#{vacunacion.idVacunacion}")
              div(class="box-body")
                input(type="hidden" name="_method" value="put")
                input(type="hidden" name="idVacunacion" value='#{vacunacion.idVacunacion}')
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="fechaVacunacion") Fecha de la Vacunación:
                  div(class="col-sm-8")  
                    div(class="input-group date")
                      div(class="input-group-addon")
                        i(class="fa fa-calendar")  
                      input(type="text" class="form-control pull-right" id="datepicker" name='fechaVacunacion' value='#{vacunacion.fechaVacunacion}' required="true")
                div(class="form-group")  
                  label(class="col-sm-4 control-label" for="horaVacunacion") Hora de la Vacunación:
                  div(class="col-sm-8")
                    div(class="bootstrap-timepicker")
                      div(class="input-group")
                        div(class="input-group-addon")
                          i(class="fa fa-clock-o")
                        input(type="text" class="form-control timepicker" name='horaVacunacion' value='#{vacunacion.horaVacunacion}' required) 
                div(class="form-group")
                  label(class="control-label col-sm-4" for="email") Proveedor: 
                  div(class="col-sm-8") 
                    select(name="empleadoSele" class="btn btn-default select2")
                      -for (var j=0; j < select.length; j++) {
                        if vacunacion.ProveedorIdProveedor == select[j].idProveedor
                         option(value="#{select[j].idProveedor}" selected) #{select[j].nombreProveedor} 
                        else 
                         option(value="#{select[j].idProveedor}") #{select[j].nombreProveedor}
                      -} 
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Editar Vacunación
                    i(class="fa fa-save") 
                  a(href="/web/vacunacion" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")
