header(class="main-header")
  <!-- Logo -->
  a(href="/principal" class="logo")
    <!-- mini logo for sidebar mini 50x50 pixels -->
    span(class="logo-mini")
      b B
    <!-- logo for regular state and mobile devices -->
    span(class="logo-lg") 
      b Bonanza
  <!-- Header Navbar: style can be found in header.less -->
  nav(class="navbar navbar-static-top" role="navigation") 
    <!-- Sidebar toggle button-->
    a(href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button") 
      span(class="sr-only") Toggle navigation
    div(class="navbar-custom-menu") 
      ul(class="nav navbar-nav") 
        li(class="dropdown messages-menu")
          a(href="#" class="dropdown-toggle" data-toggle="dropdown")
            i(class="fa fa-envelope-o")
            for mensajess in mensajes
             span(class="label label-warning")=mensajess.email
          ul(class="dropdown-menu")
            li(class="header") 
             for mensajess in mensajes 
              span Tu tienes 
              span=mensajess.email 
              span   mensaje/s
            li
              ul(class="menu")
                li
                  for mensajess in mensajeria
                    a(href="#")                            
                      small 
                        i(class="fa fa-clock-o")=mensajess.fechaCreacion
                      div(class="pull-left")
                        i(class="fa fa-envelope-o")
                      h4=mensajess.nombre
                        
                      p=mensajess.mensaje
            li(class="footer")
              a(href="/web/mensaje") Ver todos los Mensajes

        li(class="dropdown notifications-menu")
          a(href="#" class="dropdown-toggle" data-toggle="dropdown")
            i(class="fa fa-bell-o")
            for alarmass in alarmas1
             span(class="label label-danger")=alarmass.nombre
          ul(class="dropdown-menu")
            li(class="header") 
             for alarmass in alarmas1
              span Tu tienes 
              span=alarmass.nombre
              span    alarma/s
            li
              ul(class="menu")
                li
                  for alarmass in alarmas2
                    a(href="#")
                      small 
                        i(class="fa fa-clock-o")=alarmass.fechaCreacion
                      h4=alarmass.nombre
                      
                      i(class="fa fa-warning text-red")=alarmass.alarma
                
            li(class="footer")
              a(href="/web/alarma") Ver todas las alarmas del sistema
            


        <!-- User Account: style can be found in dropdown.less -->
        li(class="dropdown user user-menu") 
          a(href="#" class="dropdown-toggle" data-toggle="dropdown") 
            img(src="/img/user10-160x160.png" class="user-image" alt="User Image") 
            for usuarioss in usuarios
             span(class="hidden-xs")=usuarioss
          ul(class="dropdown-menu") 
            <!-- User image -->
            li(class="user-header") 
              img(src="/img/user10-160x160.png" class="img-circle" alt="User Image")
              p=usuarios 
                small Usuario del Sistema
            <!-- Menu Footer-->
            li(class="user-footer")
              div(class="pull-left")
                a(href="/perfil" class="btn btn-default btn-flat") Perfíl
              div(class="pull-right") 
                a(href="/" class="btn btn-default btn-flat") Salir
        li
          a(href="#" data-toggle="control-sidebar")
              i(class="fa fa-gears")
       