table(class="table table-bordred table-striped")
  thead
    tr
      th(class="cell-stat text-center") idDetalleSA
      th(class="cell-stat text-center") observacion           
      th(class="cell-stat text-center") idAnimal
      th(class="cell-stat text-center") rpAnimal
      th(class="cell-stat text-center") fechaCreacion
      th(class="cell-stat text-center") fechaModificacion
      th(class="cell-stat text-center") fechaBorrado
      th(class="cell-stat text-center") Accion
      th(class="cell-stat text-center") Accion
  
  tbody
    for detalleSalidaAnimal in detalleSalidaAnimales
      tr
        td(class="text-center")=detalleSalidaAnimal.idDetalleSA
        td(class="text-center")=detalleSalidaAnimal.observacion       
        td(class="text-center")=detalleSalidaAnimal.Animal.idAnimal
        if detalleSalidaAnimal.Animal == null  
          td(class="text-center") sin Animal
        else 
          td(class="text-center")=detalleSalidaAnimal.Animal.rpAnimal        
        td(class="text-center")=detalleSalidaAnimal.fechaCreacion 
        td(class="text-center")=detalleSalidaAnimal.fechaModificacion
        td(class="text-center")=detalleSalidaAnimal.fechaBorrado 
        td
          a(href="/web/detalleSalidaAnimal/editar/#{detalleSalidaAnimal.idDetalleSA}" class="btn btn-info" role="button")
            p(data-placement="top" data-toggle="tooltip" title="Edit")
              button(type="button" class="btn btn-info") Editar Detalle Salida 
              
        form(id="topicForm" method="post" action="/web/detalleSalidaAnimal/#{detalleSalidaAnimal.idDetalleSA}")
          input(type="hidden" name="_method" value="delete")
          input(type="hidden" name="idDetalleSA" value='#{detalleSalidaAnimal.idDetalleSA}')               
          td
            a(href="/web/detalleSalidaAnimal/#{detalleSalidaAnimal.idDetalleSA}" class="btn btn-info" role="button")
              p(data-placement="top" data-toggle="tooltip" title="Delete")
                button(type="submit" name="committ" value="Form" class="btn btn-info") Borrar Detalle Salida


          
