extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Detalle de la Salida de Animales
        small
          b 
            a(href="/web/detalleSalidaAnimal/cargar")
              p(class="text-green" data-placement="top" data-toggle="tooltip" title="Agregar Detalle") Agregar Detalle
                  i(class="fa fa-save") 
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Detalle de la Salida de Animales Registrados
    section(class="content")
      div(class="row")
        div(class="col-xs-12")
          div(class="box")
            div(class="box-header")
              h3(class="box-title") Detalle de la Salida de Animales Registrados
              <!-- /.box-header -->
            div(class="box-body")
              div(class="table-responsive")
                table(id="example1" class="table table-bordered table-striped")
                  thead
                    tr(class="success")
                      th(class="cell-stat text-center") RP del Animal
                      th(class="cell-stat text-center") Observación 
                      th(class="cell-stat text-center") Editar Registro
                      th(class="cell-stat text-center") Eliminar Registro
                  
                  tbody
                    for detalleSalidaAnimal in detalleSalidaAnimales
                      tr
                        if detalleSalidaAnimal.Animal == null  
                          td(class="text-center") sin Animal
                        else 
                          td(class="text-center")=detalleSalidaAnimal.Animal.rpAnimal  
                        td(class="text-center")=detalleSalidaAnimal.observacion       
                              
                        td(class="text-center")
                          a(href="/web/detalleSalidaAnimal/editar/#{detalleSalidaAnimal.idDetalleSA}" class="btn btn-success" role="button")
                            p(data-placement="top" data-toggle="tooltip" title="Editar Detalle Salida")
                              button(type="button" class="btn btn-success")  
                                i(class="fa fa-refresh")
                        form(id="topicForm" method="post" action="/web/detalleSalidaAnimal/#{detalleSalidaAnimal.idDetalleSA}")
                          input(type="hidden" name="_method" value="delete")
                          input(type="hidden" name="idDetalleSA" value='#{detalleSalidaAnimal.idDetalleSA}')               
                          td(class="text-center")
                            a(href="/web/detalleSalidaAnimal/#{detalleSalidaAnimal.idDetalleSA}" class="btn btn-success" role="button")
                              p(data-placement="top" data-toggle="tooltip" title="Borrar Detalle Salida")
                                button(type="submit" name="committ" value="Form" class="btn btn-success") 
                                  i(class="fa fa-remove") 


                          
