extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Usuario
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Editar Usuario
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Edición del Usuario
            form(class="form-horizontal" method="post" action="/web/usuario/#{usuario.idUsuario}")
              div(class="box-body")
                input(type="hidden" name="_method" value="put")
                input(type="hidden" name="idUsuario" value='#{usuario.idUsuario}')
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Usuario: 
                  div(class="col-sm-8")  
                    input(type="text" class="form-control" id='usuario' name='usuario' value='#{usuario.usuario}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Pass: 
                  div(class="col-sm-8") 
                    input(type="text" class="form-control" id='pass' name='pass' value='#{usuario.pass}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Nivel: 
                  div(class="col-sm-8") 
                    select(name="nivelSele" class="btn btn-success select2")
                      -for (var j=0; j < select.length; j++) {
                        if usuario.NivelIdNivel == select[j].idNivel
                         option(value="#{select[j].idNivel}" selected) #{select[j].nivel} 
                        else 
                         option(value="#{select[j].idNivel}") #{select[j].nivel}
                      -}
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Empleado: 
                  div(class="col-sm-8") 
                    select(name="nivelSeleN" class="btn btn-success select2")
                      -for (var j=0; j < selectN.length; j++) {
                        if usuario.EmpleadoIdEmpleado == selectN[j].idEmpleado
                         option(value="#{selectN[j].idEmpleado}" selected) #{selectN[j].nombreEmpleado} 
                        else 
                         option(value="#{selectN[j].idEmpleado}") #{selectN[j].nombreEmpleado}
                      -}
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Editar Usuario 
                    i(class="fa fa-refresh")
                  a(href="/web/usuario" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")
                        