extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Detalle del Consumo
        small
          b 
            a(href="/web/detalleConsumo/cargar")
              p(class="text-green" data-placement="top" data-toggle="tooltip" title="Agregar Detalle") Agregar Detalle
                  i(class="fa fa-save") 
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Detalle del Consumo de Animales Registrados
    section(class="content")
      div(class="row")
        div(class="col-xs-12")
          div(class="box")
            div(class="box-header")
              h3(class="box-title") Detalle del Consumo de Animales Registrados
              <!-- /.box-header -->
            div(class="box-body")
              div(class="table-responsive")
                table(id="example1" class="table table-bordered table-striped")
                  thead
                    tr(class="success")
                      th(class=" text-center") RP del Animal
                      th(class=" text-center") Cantidad
                      th(class=" text-center") Sobra
                      th(class=" text-center") Observación
                      th(class="cell-stat text-center") Editar Registro
                      th(class="cell-stat text-center") Eliminar Registro
                  
                  tbody
                    for detalleConsumo in detalleConsumos
                      tr
                        td(class="text-center")=detalleConsumo.AnimalIdAnimal  
                        td(class="text-center")=detalleConsumo.cantidad
                        td(class="text-center")=detalleConsumo.sobra      
                        td(class="text-center")=detalleConsumo.observacion             
                        td(class="text-center")
                          a(href="/web/detalleConsumo/editar/#{detalleConsumo.idDetalleConsumo}" class="btn btn-success" role="button")
                            p(data-placement="top" data-toggle="tooltip" title="Editar Detalle Consumo")
                              button(type="button" class="btn btn-success")  
                                i(class="fa fa-refresh")
                        form(id="topicForm" method="post" action="/web/detalleConsumo/#{detalleConsumo.idDetalleConsumo}")
                          input(type="hidden" name="_method" value="delete")
                          input(type="hidden" name="idConsumo" value='#{detalleConsumo.idDetalleConsumo}')               
                          td(class="text-center")
                            a(href="/web/detalleConsumo/#{detalleConsumo.idDetalleConsumo}" class="btn btn-success" role="button")
                              p(data-placement="top" data-toggle="tooltip" title="Borrar Detalle Consumo")
                                button(type="submit" name="committ" value="Form" class="btn btn-success") 
                                  i(class="fa fa-remove")
