table(class="table table-bordred table-striped")
  thead
    tr
      th(class="cell-stat text-center") idDetalleConsumo
      th(class="cell-stat text-center") observacion           
      th(class="cell-stat text-center") idAnimal
      th(class="cell-stat text-center") rpAnimal
      th(class="cell-stat text-center") fechaCreacion
      th(class="cell-stat text-center") fechaModificacion
      th(class="cell-stat text-center") fechaBorrado
      th(class="cell-stat text-center") Accion
      th(class="cell-stat text-center") Accion
  
  tbody
    for detalleConsumo in detalleConsumos
      tr
        td(class="text-center")=detalleConsumo.idDetalleConsumo
        td(class="text-center")=detalleConsumo.observacion       
        td(class="text-center")=detalleConsumo.Animal.idAnimal
        if detalleConsumo.Animal == null  
          td(class="text-center") sin Animal
        else 
          td(class="text-center")=detalleConsumo.Animal.rpAnimal        
        td(class="text-center")=detalleConsumo.fechaCreacion 
        td(class="text-center")=detalleConsumo.fechaModificacion
        td(class="text-center")=detalleConsumo.fechaBorrado 
        td
          a(href="/web/detalleConsumoInsumo/add/#{detalleConsumo.idDetalleConsumo}" class="btn btn-info" role="button")
            p(data-placement="top" data-toggle="tooltip" title="Add")
              button(type="button" class="btn btn-info") Agregar Detalle Consumo Insumo 
        td
          a(href="/web/detalleConsumoInsumo/insumo/#{detalleConsumo.idDetalleConsumo}" class="btn btn-info" role="button")
            p(data-placement="top" data-toggle="tooltip" title="Edit")
              button(type="button" class="btn btn-info") Ver Detalle Insumo
        td
          a(href="/web/detalleConsumo/editar/#{detalleConsumo.idDetalleConsumo}" class="btn btn-info" role="button")
            p(data-placement="top" data-toggle="tooltip" title="Edit")
              button(type="button" class="btn btn-info") Editar Detalle Consumo 
              
        form(id="topicForm" method="post" action="/web/detalleConsumo/#{detalleConsumo.idDetalleConsumo}")
          input(type="hidden" name="_method" value="delete")
          input(type="hidden" name="idConsumo" value='#{detalleConsumo.idDetalleConsumo}')               
          td
            a(href="/web/detalleConsumo/#{detalleConsumo.idDetalleConsumo}" class="btn btn-info" role="button")
              p(data-placement="top" data-toggle="tooltip" title="Delete")
                button(type="submit" name="committ" value="Form" class="btn btn-info") Borrar Detalle Consumo

