table(class="table table-bordred table-striped")
  thead
    tr
      th(class="cell-stat text-center") idDetalleTraslado
      th(class="cell-stat text-center") descripcion           
      th(class="cell-stat text-center") idAnimal
      th(class="cell-stat text-center") rpAnimal
      th(class="cell-stat text-center") fechaCreacion
      th(class="cell-stat text-center") fechaModificacion
      th(class="cell-stat text-center") fechaBorrado
      th(class="cell-stat text-center") Accion
      th(class="cell-stat text-center") Accion
  
  tbody
    for detalleTraslado in detalleTraslados
      tr
        td(class="text-center")=detalleTraslado.idDetalleTraslado
        td(class="text-center")=detalleTraslado.descripcion       
        td(class="text-center")=detalleTraslado.Animal.idAnimal
        if detalleTraslado.Animal == null  
          td(class="text-center") sin Animal
        else 
          td(class="text-center")=detalleTraslado.Animal.rpAnimal        
        td(class="text-center")=detalleTraslado.fechaCreacion 
        td(class="text-center")=detalleTraslado.fechaModificacion
        td(class="text-center")=detalleTraslado.fechaBorrado 
        td
          a(href="/web/detalleTraslado/editar/#{detalleTraslado.idDetalleTraslado}" class="btn btn-info" role="button")
            p(data-placement="top" data-toggle="tooltip" title="Edit")
              button(type="button" class="btn btn-info") Editar Detalle Traslado 
              
        form(id="topicForm" method="post" action="/web/detalleTraslado/#{detalleTraslado.idDetalleTraslado}")
          input(type="hidden" name="_method" value="delete")
          input(type="hidden" name="idTraslado" value='#{detalleTraslado.idDetalleTraslado}')               
          td
            a(href="/web/detalleTraslado/#{detalleTraslado.idDetalleTraslado}" class="btn btn-info" role="button")
              p(data-placement="top" data-toggle="tooltip" title="Delete")
                button(type="submit" name="committ" value="Form" class="btn btn-info") Borrar Detalle Traslado




          
