extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Detalle del Pesaje
        small
          b 
            a(href="/web/detallePesaje/cargar")
              p(class="text-green" data-placement="top" data-toggle="tooltip" title="Agregar Detalle") Agregar Detalle
                  i(class="fa fa-save") 
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Detalle del Pesaje de Animales Registrados
    section(class="content")
      div(class="row")
        div(class="col-xs-12")
          div(class="box")
            div(class="box-header")
              h3(class="box-title") Detalle del Pesaje de Animales Registrados
              <!-- /.box-header -->
            div(class="box-body")
              div(class="table-responsive")
                table(id="example1" class="table table-bordered table-striped")
                  thead
                    tr(class="success")
                      th(class="cell-stat text-center") RP del Animal
                      th(class="cell-stat text-center") Peso                      
                      th(class="cell-stat text-center") Observación 
                      th(class="cell-stat text-center") Editar Registro
                      th(class="cell-stat text-center") Eliminar Registro
                  
                  tbody
                    for detallePesaje in detallePesajes
                      tr
                        if detallePesaje.Animal == null  
                          td(class="text-center") sin Animal
                        else 
                          td(class="text-center")=detallePesaje.Animal.rpAnimal        
                        td(class="text-center")=detallePesaje.peso
                        td(class="text-center")=detallePesaje.observacion
                        td(class="text-center")
                          a(href="/web/detallePesaje/editar/#{detallePesaje.idDetallePesaje}" class="btn btn-success" role="button")
                            p(data-placement="top" data-toggle="tooltip" title="Editar Detalle Pesaje")
                              button(type="button" class="btn btn-success")  
                                i(class="fa fa-refresh")
                        form(id="topicForm" method="post" action="/web/detallePesaje/#{detallePesaje.idDetallePesaje}")
                          input(type="hidden" name="_method" value="delete")
                          input(type="hidden" name="idPesaje" value='#{detallePesaje.idDetallePesaje}')               
                          td(class="text-center")
                            a(href="/web/detallePesaje/#{detallePesaje.idDetallePesaje}" class="btn btn-success" role="button")
                              p(data-placement="top" data-toggle="tooltip" title="Borrar Detalle Pesaje")
                                button(type="submit" name="committ" value="Form" class="btn btn-success")
                                  i(class="fa fa-remove") 

                         
