extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Insumo
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Insumo
        li(class="active") Editar Insumo
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Edici贸n del Insumo            
            form(class="form-horizontal" method="post" action="/web/insumo/#{insumo.idInsumo}")
              div(class="box-body")
                input(type="hidden" name="_method" value="put")
                input(type="hidden" name="idInsumo" value='#{insumo.idInsumo}')
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") C贸digo de Barra: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id='codigoBarra' name='codigoBarra' value='#{insumo.codigoBarra}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Nombre: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id='nombreInsumo' name='nombreInsumo' value='#{insumo.nombreInsumo}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Contenido: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="contenidoInsumo" name='contenidoInsumo' value='#{insumo.contenidoInsumo}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Precio de Compra: 
                  div(class="col-sm-8")  
                    input(type="text" class="form-control" id="precioCompra" name='precioCompra' value='#{insumo.precioCompra}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Tipo de Insumo: 
                  div(class="col-sm-8")  
                    select(id="tipoInsumo" name='tipoInsumo' class="btn btn-default select2")
                      option(value="-1" disabled="disabled" selected) Seleccione una opci贸n
                      option(value="Medicamento") Medicamento
                      option(value="Sal Mineral") Sal Mineral
                      option(value="Balanceado") Balanceado
                      option(value="Balanceado") Varios

                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Presentaci贸n: 
                  div(class="col-sm-8")
                    input(type="text" class="form-control" id="presentacionInsumo" name='presentacionInsumo' value='#{insumo.presentacionInsumo}' required="true")
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Editar Insumo 
                    i(class="fa fa-refresh")
                  a(href="/web/insumo" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")                        