form(id="topicForm" method="post" action="/web/insumo/#{insumo.idInsumo}")
  input(type="hidden" name="_method" value="put")
  input(type="hidden" name="idInsumo" value='#{insumo.idInsumo}')
  table(class="table table-bordred table-striped")
    thead
      tr
        th(class="cell-stat text-center") idInsumo
        th(class="cell-stat text-center") codigoBarra
        th(class="cell-stat text-center") nombreInsumo
        th(class="cell-stat text-center") contenidoInsumo
        th(class="cell-stat text-center") precioCompra
        th(class="cell-stat text-center") tipoInsumo
        th(class="cell-stat text-center") presentacionInsumo
        th(class="cell-stat text-center") estadoInsumo
        th(class="cell-stat text-center") fechaCreacion
        th(class="cell-stat text-center") fechaModificacion
        th(class="cell-stat text-center") fechaBorrado
        th(class="cell-stat text-center") Accion
        th(class="cell-stat text-center") Accion
    tbody
        tr
          td(class="text-center")=insumo.idInsumo

          td(class="text-center")
            input(type="text" class="form-control" id='codigoBarra' name='codigoBarra' value='#{insumo.codigoBarra}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id='nombreInsumo' name='nombreInsumo' value='#{insumo.nombreInsumo}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id="contenidoInsumo" name='contenidoInsumo' value='#{insumo.contenidoInsumo}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id="precioCompra" name='precioCompra' value='#{insumo.precioCompra}' required="true")

          td(class="text-center")
            input(type="text" class="form-control" id='tipoInsumo' name='tipoInsumo' value='#{insumo.tipoInsumo}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id="presentacionInsumo" name='presentacionInsumo' value='#{insumo.presentacionInsumo}' required="true")
          
          td(class="text-center")
            input(type="text" class="form-control" id="estadoInsumo" name='estadoInsumo' value='#{insumo.estadoInsumo}' required="true")

          td(class="text-center")=insumo.fechaCreacion
          td(class="text-center")=insumo.fechaModificacion
          td(class="text-center")=insumo.fechaBorrado
          td
            button(type="submit" name="commit" value="Form" class="btn btn-success btn-block") Editar Insumo
