extends ../../layout 
block content
  div(class="content-wrapper")
    section(class="content-header")
      h1 Proveedor
      ol(class="breadcrumb")
        li
          a(href="#")
            i(class="fa fa-dashboard") Registros
        li(class="active") Editar Proveedor
    section(class="content")
      div(class="row")
        div(class="col-md-12")
          div(class="box box-success")
            div(class="box-header with-border")
              h3(class="box-title") Edición del Proveedor
            form(class="form-horizontal" method="post" action="/web/proveedor/#{proveedor.idProveedor}")
              div(class="box-body")
                input(type="hidden" name="_method" value="put")
                input(type="hidden" name="idProveedor" value='#{proveedor.idProveedor}')
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") RUC: 
                  div(class="col-sm-8")          
                    input(type="text" class="form-control" id="rucProveedor" name='rucProveedor' value='#{proveedor.rucProveedor}' required="true")                
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Nombre: 
                  div(class="col-sm-8")  
                    input(type="text" class="form-control" id='nombreProveedor' name='nombreProveedor' value='#{proveedor.nombreProveedor}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Dirección: 
                  div(class="col-sm-8")          
                    input(type="text" class="form-control" id="direccionProveedor" name='direccionProveedor' value='#{proveedor.direccionProveedor}' required="true")
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Ciudad: 
                  div(class="col-sm-8")  
                    select(name="ciudadSele" class="btn btn-success select2")
                            -for (var j=0; j < select.length; j++) {
                              if proveedor.CiudadIdCiudad == select[j].idCiudad 
                               option(value="#{select[j].idCiudad}" selected) #{select[j].ciudad} 
                              else 
                               option(value="#{select[j].idCiudad}") #{select[j].ciudad}
                            -}
                div(class="form-group")
                  label(class="col-sm-4 control-label" for="email") Tipo de Proveedor: 
                  div(class="col-sm-8") 
                    input(type="text" class="form-control" id="tipoProveedor" name='tipoProveedor' value='#{proveedor.tipoProveedor}' required="true")
              div(class="box-footer")
                div(class="btn-group pull-right")
                  button(type="submit" href="javascript:void(0);" class="btn btn-success") Editar Animal 
                    i(class="fa fa-refresh")
                  a(href="/web/proveedor" class="btn btn-default") Cancelar
                    i(class="fa fa-remove")
                      
                        