<div align="center">
  <img style='padding: 10px;'src='{#image logos}'/>
</div>
<h3 style='text-align: center;'><u>Consumos</u></h3>

<table style='border-style:solid; width:100%; border-spacing: 5px;'>
    <tr>
        <th style='background-color:lightGray; text-align: center; padding: 15px;'>Fecha</th>
        <th style='background-color:lightGray; text-align: center; padding: 15px;'>Hora</th>
        <th style='background-color:lightGray; text-align: center; padding: 15px;'>Insumo</th>
        <th style='background-color:lightGray; text-align: center; padding: 15px;'>Cantidad</th>
    </tr>
    {{#each consumo}}
        <tr>
            <td style='text-align: center; padding: 15px;'>{{fecha}}</td>
            <td style='text-align: center; padding: 15px;'>{{hora}}</td>
            <td style='text-align: center; padding: 15px;'>{{insumo}}</td>
            <td style='text-align: center; padding: 15px;'>{{cantidad}}</td>
        </tr>
    {{/each}}
</table>
<br>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.categories.min.js"></script>
<div align="center"><div id="placeholder" style="width:700px;height:350px;"></div></div>
<script>
    $(function () {
        // stringified input data are later in browser interpretted as real object
        var data = {{{toJSON consumo}}}
        var consumo = data.map(function(b) { return [ b.insumo, b.cantidad ]});
        $.plot("#placeholder", [ consumo ],
        {
            series: {
                bars: { show: true, barWidth: 0.6, align: "center" }
            },
            xaxis: {   mode: "categories", tickLength: 0 }
        });
    });
</script>
